/*-------------body----------------*/

body {
    font-family: Times, Times New Roman, serif;
    background-color: #222121;
}

hr {
    border: 1px solid rgb(109, 95, 95);
    border-radius: 5px;
}

/*--------------aligning classes----------*/

.align-right {
    text-align: right;
}

.align-left {
    text-align: left;
}

.align-center {
    text-align: center;
}

.list-style {
    list-style-position: inside;
}

.box-align {
    width: 40%;
    margin: auto;
    text-align: left;
}


/*----------------Circle image------------*/

img {
    border-radius: 1%;
}

/*----------------Header links-----------*/

Header a {
    font-family: 'Times', Helvetica, sans-serif;
    font-size: 24px;
    margin-right: 5px;
}

Header a:link {
    text-decoration: none;
    color: bisque;
}

Header a:visited {
    color: bisque;
    text-decoration: none;
}

Header a:hover {
    color: white;
    text-decoration: none;
}

Header a:active {
    color: white;
    text-decoration: none;
}


/*----------------normal links-----------*/

a {
    font-size: 20px;
    font-style: initial;
}

a:link {
    color: blue;;
}

a:visited {
    color: blue;
}

a:hover {
    color: black;
}

a:active {
    color: black;
}


/*-------------header----------------*/

/* test HASH
#HASH {
    display: flex;
    justify-content: space-between;
}
*/

header {
    background-color: #202124;
}

header h1 {
    font-size: 32px;
    color: bisque;
    float: left;
    margin-top: 1%;
    margin-left: 2%;
    transition: all 5s ease-out;
}

header nav {
    /* border: 1px solid black; */
    float: right;
    margin-top: 5%;
    margin-right: 2%;
    margin-bottom: 1%;
}

/*-------------trying to make inline----------------*/

header:after,
nav:after {
    content: " ";
    display: table;
    clear: both;
}

/*-------------main----------------*/

main {
    background-color: #f1f1f1;
}

main div {
    height: auto;
    padding-top: 1%;
    padding-bottom: 1%;
}

main img {
    width: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

main ul {
    margin-left: -10px;
    padding-left: 5%;
    padding-right: 5%;
}

main ol {
    margin: 1%;
    padding-left: 4%;
}

main h3 {
    margin: 1%;
}

main p {
    margin: 1%;
}

/*--------------footer---------------*/

footer p {
    font-family: Courier, 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 24px;
    color: white;
    transition: all 2s;
}

@media all and (max-width: 1200px) {
    /*-------------header----------------*/
    header nav {
        /* border: 1px solid black; */
        float: right;
        margin-top: 10%;
        margin-right: 2%;
        margin-bottom: 1%;
    }

    /*--------------aligning classes----------*/
    .box-align {
        width: 85%;
        margin: auto;
        text-align: left;
    }

    /*-------------main----------------*/
    main img {
        width: 85%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        
    }
}