/*-------------body----------------*/
body {
    font-family: Times, Times New Roman, serif;
    color: bisque;
    font-size: 32px;
    background-color: #050114;
}

/*--------------classes----------*/
.title {
    position: absolute;
    top: 15%;
    left: 12%;
    white-space: nowrap;
    display: block;
}

.intro {
    position: absolute;
    text-align: end;
    top: 13%;
    right: 15%;
}

.wrap {
    width: 70%;
    text-align: justify;

}

section {
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 100vh;
}

/*----------------project section classes------------*/
.flex-project {
    display: flex;
    flex-direction: row;
    width: 90%;
}

.flex-child-project {
    text-align: center;
}

.flex-child-project:first-child {
    flex: 3;
}

.flex-child-project:not(:first-child) {
    flex: 1;
    align-self: flex-start;
}

h5 {
    margin: 0;
    padding: 0;
}

/*----------------animation classes------------*/
.hidden { 
    opacity: 0;
    filter: blur(5px);
    /* transform: translateX(-100%); */
    transition: all 2s;
}

.show {
    opacity: 1;
    filter: blur(0);
    /* transform: translateX(0); */
}

.logos {
    display: flex;
}

.logo:nth-child(2) {
    transition-delay: 200ms;
}

.logo:nth-child(3) {
    transition-delay: 600ms;
}

.logo:nth-child(4) {
    transition-delay: 1200ms;
}

/*----------------image classes------------*/
.img-selfpic {
    border-radius: 4%;
    width: 30%;
}

.img-project {
    width: 80%;
    border: 1px solid #ddd;
    padding: 5px;
    background-color: white;
}

/*----------------Header links classes-----------*/
nav a {
    font-family: 'Times', Helvetica, sans-serif;
    font-size: 30px;
    margin-left: 30px;
}

nav a:link {
    text-decoration: none;
    color: bisque;
}

nav a:visited {
    color: bisque;
    text-decoration: none;
}

nav a:hover {
    color: white;
    text-decoration: none;
}

nav a:active {
    color: white;
    text-decoration: none;
}


/*----------------contact links-----------*/
a.contact {
    font-size: 34px;
    font-style: initial;
    color: bisque;
}

a.contact:link {
    text-decoration: none;
}

a.contact:visited {
    text-decoration: none;
}

a.contact:hover {
    color: white;
}

a.contact:active {
    color: white;
}

/*----------------project links classes-----------*/
a.project-link {
    font-size: 120%;
    text-decoration: none;
    color: bisque;
}

a.project-link:link {
    text-decoration: none;
}

a.project-link:visited {
    text-decoration: none;
}

a.project-link:hover {
    color: white;
}

a.project-link:active {
    color: white;
}

/*-------------header----------------*/
header h1 {
    font-size: 60px;
}

nav {
    position: fixed;
    top: 60%;
    right: 30px;
    scroll-behavior: smooth;
    transform: rotate(90deg);
    transform-origin: right;
    z-index: 1;
}

/*-------------main----------------*/
main div {
    height: auto;
    padding-top: 1%;
    padding-bottom: 1%;
}

main ul {
    margin-left: -10px;
    padding-left: 5%;
    padding-right: 5%;
}

main ol {
    margin: 1%;
    font-size: 34px;
    display:flex;
    gap: 100px;
}

main h3 {
    margin: 1%;
}

main p {
    margin: 2%;
    text-indent: 40px;
}

/*--------------footer---------------*/
footer p {
    font-family: Courier, 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 60px;
}

@media all and (max-width: 800px) { 
    .title {
        position: absolute;
        top: 5%;
        left: 1%;
        white-space: nowrap;
        display: block;
    }

    .intro {
        position: absolute;
        text-align: end;
        top: 10%;
        right: 3%;
    }

    .wrap {
        width: 80%;
        text-align: justify;
    
    }
}

@media all and (max-width: 1200px) {
    /*--------------classes----------*/
    .title {
        position: absolute;
        top: 10%;
        left: 10%;
        white-space: nowrap;
        display: block;
    }

    .intro {
        position: absolute;
        text-align: end;
        top: 12%;
        right: 15%;
    }

    .wrap {
        width: 80%;
        text-align: justify;
    
    }

    .img-selfpic {
        width: 45%;
    }

    /*-------------header----------------*/
    header h1 {
        font-size: 32px;
    }
    
    /*-------------body----------------*/
    body {
        font-size: 18px;
    }

    /*-------------header----------------*/
    header nav {
        right: 12px;
    }

    header a {
        font-size: 18px;
    }

    /*-------------main----------------*/
    main ol {
        margin: 1%;
        font-size: 24px;
        display: flex;
        gap: 40px;
    }
    
    a {
        font-size: 24px;
    }

    /*--------------footer---------------*/
    footer p {
        font-family: Courier, 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 32px;
        white-space: nowrap;
    }
}

