/*-------------body----------------*/
body {
    font-family: Times, Times New Roman, serif;
    color: bisque;
    font-size: 32px;
    background-color: #050114;
}

/*--------------classes----------*/
.intro {
    position: absolute;
    top: 15%;
    left: 15%;
    white-space: nowrap;
    display: block;
}

.title {
    position: absolute;
    text-align: end;
    top: 17%;
    right: 15%;
}

.list-style {
    list-style-position: inside;
}

.hidden { 
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 2s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

section {
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 100vh;
}

.logos {
    display: flex;
}

.logo:nth-child(2) {
    transition-delay: 200ms;
}

.logo:nth-child(3) {
    transition-delay: 600ms;
}

.logo:nth-child(4) {
    transition-delay: 1200ms;
}

/*----------------Circle image------------*/
img {
    border-radius: 1%;
}

/*----------------Header links-----------*/
Header a {
    font-family: 'Times', Helvetica, sans-serif;
    font-size: 30px;
    margin-left: 30px;
}

Header a:link {
    text-decoration: none;
    color: bisque;
}

Header a:visited {
    color: bisque;
    text-decoration: none;
}

Header a:hover {
    color: white;
    text-decoration: none;
}

Header a:active {
    color: white;
    text-decoration: none;
}


/*----------------normal links-----------*/
a {
    font-size: 34px;
    font-style: initial;
}

a:link {
    color: bisque;;
}

a:visited {
    color: bisque;
}

a:hover {
    color: white;
}

a:active {
    color: white;
}


/*-------------header----------------*/
header h1 {
    font-size: 60px;
}

nav {
    position: fixed;
    top: 60%;
    right: 30px;
    scroll-behavior: smooth;
    transform: rotate(90deg);
    transform-origin: right;
}

/*-------------main----------------*/
main div {
    height: auto;
    padding-top: 1%;
    padding-bottom: 1%;
}

main img {
    width: 35%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

main ul {
    margin-left: -10px;
    padding-left: 5%;
    padding-right: 5%;
}

main ol {
    margin: 1%;
    font-size: 34px;
    display:flex;
    gap: 100px;
}

main h3 {
    margin: 1%;
}

main p {
    margin: 1%;
}

/*--------------footer---------------*/
footer p {
    font-family: Courier, 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 60px;
}


@media all and (max-width: 1200px) {
    /*--------------classes----------*/
    .intro {
        position: absolute;
        top: 2%;
        left: 5%;
        white-space: nowrap;
        display: block;
    }

    .title {
        position: absolute;
        text-align: end;
        top: 10%;
        right: 5%;
    }

    /*-------------header----------------*/
    header h1 {
        font-size: 32px;
    }
    
    /*-------------body----------------*/
    body {
        font-family: Times, Times New Roman, serif;
        color: bisque;
        font-size: 18px;
        background-color: #050114;
    }

    /*-------------header----------------*/
    nav {
        right: 12px;
    }

    header a {
        font-size: 18px;
    }

    /*-------------main----------------*/
    main img {
        width: 45%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    main ol {
        margin: 1%;
        font-size: 24px;
        display: flex;
        gap: 40px;
    }
    
    a {
        font-size: 24px;
    }

    /*--------------footer---------------*/
    footer p {
        font-family: Courier, 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 32px;
        white-space: nowrap;
    }
}
